.yang-editor {
    background: white;
    border: 1px solid rgba(235, 235, 235, 1);
    padding: 0;
    text-align: left;
    position: relative;
}

.yang-editor p,
.yang-editor div,
.yang-editor button,
.yang-editor ul,
.yang-editor li {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    display: block;
    list-style: none;
}

.yang-editor .yang-editor-body {
    position: relative;
    padding: 4px;
    outline: none;
    overflow: auto;
}

.yang-editor .yang-editor-content {
    background: white;
    height: 100%;
    min-height: 100px;
}

.yang-editor .yang-editor-toolbar {
    background: transparent;
    line-height: 24px;
    user-select: none;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
}

.yang-editor .yang-editor-toolbar-button {
    padding: 2px;
    vertical-align: middle;
    cursor: pointer;
}

.yang-editor .yang-editor-content > p,
.yang-editor .yang-editor-content > div {
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
    padding: 4px;
    position: relative;
    min-height: 31px;
}

.yang-editor .yang-editor-content > p:hover,
.yang-editor .yang-editor-content > div:hover {
    border-left: 44px solid transparent;
    border-radius: 4px;
}



.yang-editor .yang-editor-content:focus {
    /* background-color: red !important; */
}


.yang-editor .yang-editor-color-strip {
    padding-left: 19px;
}

.yang-editor .yang-editor-color-strip button {
    margin-left: 8px;
}

.yang-editor .yang-editor-color-strip button:first-child {
    margin-left: 0;
}

.yang-editor .yang-editor-fgcolor-strip {
    padding-left: 8px;
}

.yang-editor .yang-editor-fgcolor-strip button {
    margin-left: 8px;
}

.yang-editor .yang-editor-fgcolor-strip button:first-child {
    margin-left: 0;
}

.yang-editor .yang-editor-icon-button {
    margin-left: 4px;
}

.yang-editor .yang-editor-icon-button:nth-of-type(2){
    margin-left: 16px;
}

.yang-editor .yang-editor-collapse-container {
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 4px;
    overflow: hidden;
}

.yang-editor .yang-editor-collapse-container:hover {
    border: 1px solid #81bbf8 !important;
}

.yang-editor .yang-editor-collapse-header { 
    border-bottom: 1px solid rgba(235, 235, 235, 1);
    display: flex;
    align-items: center;
    padding: 8px 10px;
}

.yang-editor .yang-editor-collapse-header.collapsed {
    border-bottom: 0px solid transparent;
}

.yang-editor .yang-editor-collapse-title {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    padding: 0 10px;
    flex-shrink: 1;
    flex-grow: 1;
}

.yang-editor .yang-editor-collapse-body {
    padding: 12px 16px;
    min-height: 64px;
}

.yang-editor .yang-editor-collapse-body.collapsed {
    height: 0px;
    min-height: 0px;
    overflow: hidden;
    padding: 0 0;
}

.yang-editor .yang-editor-collapse-button {
    background-color: transparent;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 3px;
}

.yang-editor .yang-editor-collapse-button:hover {
    background-color: rgba(231, 233, 232, 1) !important;
}

.yang-editor .yang-editor-collapse-button.collapsed {
    transform: rotate(-90deg);
}

.yang-editor a,
.yang-editor a:hover,
.yang-editor a:active,
.yang-editor a:visited {
    color: rgba(17, 124, 238, 1);
    cursor: pointer;
    text-decoration: none;
}
.yang-editor a:hover {
    background-color: #5FA8F633;
}



.yang-editor .yang-editor-paragraph-menu {
    width: 180px;
    padding: 4px 8px;
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(217, 217, 217, 1);
    box-shadow: 1px 1px 5px  rgba(217, 217, 217, 0.3);
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: 31px;
    display: none;
}

.yang-editor .yang-editor-paragraph-menu-item {
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
}

.yang-editor .yang-editor-paragraph-menu-item:hover {
    background: rgba(239, 240, 240, 1);
}

.yang-editor .yang-editor-paragraph-menu-item-icon {
    flex-shrink: 0;
    background: transparent;
    margin-right: 8px;
}

.yang-editor .yang-editor-paragraph-menu-item-text {
    flex-shrink: 1;
    flex-grow: 1;
}

.yang-editor .yang-editor-content-before-menu {
    position: absolute;
    width: 24px;
    height: 31px;
    left: 24px;
    top: 0px;
    display: none;
    align-items: center;
    justify-content: center;
}

.yang-editor .yang-editor-content-before-menu-button{ 
    width: 24px;
    height: 24px;
    /* display: none; */
    background-color: transparent;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}

.yang-editor .yang-editor-content-before-menu-button:hover { 
    background-color: #eff0f0;
    border-radius: 6px;
}

